#main-nav {
    width: auto;
    padding: 40px;
}

#main-nav > a {
    padding: 10px 80px;
    margin: 5px 20px;
    background-color: lightseagreen;
    color: whitesmoke;
}

header {
    margin: 1px 30px;
    width: auto;
    padding: 10px;
    height: 100px;
    background-color: darkcyan;
}

#main-div {
    height: 800px;
    text-align: center;
    font-size: 20px;
    background-color: lightsteelblue;
    padding: 10px;
    width: auto;
    margin: 0px 30px;
}

#side-left {
    width: 100px;
    height: auto;
    background-color: mediumpurple;
    margin-left: 0px;
}

#side-left {
    width: 100px;
    height: auto;
    background-color: mediumpurple;
    margin-right: 0px;
}

footer {
    width: auto;
    height: 100px;
    padding: 10px;
    background-color: cornflowerblue;
    margin: 1px 30px;
}